<div class="row">
  <div class="col-md-8">
    <h4>Tell your sad story</h4>
    <textarea class="form-control post-input bottom-margin-20" style="min-width: 100%"></textarea>
    <button type="submit" class="btn btn-info btn-block">Give me Some Sympathy!</button>
  </div>
  <div class="col-md-4">
    <h4>Read About Other People's Misery</h4>
  </div>
</div><!-- end of row 1 -->
<div class="row">
  <div class="col-md-6">
    placeholder where post will go
  </div>
  <div class="col-md-6">
    placeholder where comments will go
  </div>
</div><!-- end of row 2 -->
